<!DOCTYPE html>
<html lang="lv-LV">

<head>
    <title>Start(it) eee</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">

    <link rel="icon" href="../images\Start(IT)SmallLogo.png">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="../images\Start(IT)Logo.png" alt="Start(IT)"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/Git.html">GIT</a></li>
                            <li><a href="../views/VSCode.html">VSCode</a></li>
                            <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                            <li class="active"><a href="../views/HtmlTags.html">HTML tags</a></li>
                            <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                    <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                    <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="wrap">
        <div id="main">

                <h1 class="text-center">HTML Elementi</h1>

                <p class="text-center">
                Šodien iemācījāmies....
                </p>


                <div class="row">
                
                <div class="col-xs-2" style="border:1px solid grey; margin:10px">Kolonna1</div>

                <div class="col-xs-4" style="border:1px solid grey; margin:10px">
                <ul>
                    <li class="list-group-item list-group-item-action list-group-item-success">Konteiners DIV</li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">Virsraksts H1 H2 H3 H4... H6</li>
                    <li class="list-group-item list-group-item-action list-group-item-warning">Rindkopa "< P >" </P> </li>
                    <li class="list-group-item list-group-item-action list-group-item-info">Achor A </li>
                    <img src="../images\Start(IT)Logo.png" width="100" />
                    <li class="list-group-item list-group-item-action list-group-item-success">Rindas dalītājs BR </li>
                </ul>
                </div>

                <div class="col-xs-4" style="border:1px solid grey; margin:10px">
                Vēl elementi
                <ol>
                    <li>Nenumurēts sarkasts UL</li>
                    <li>Saraksta objekts LI</li>
                    <li>Numurēts saraksts OL</li>
                    <li>Attēls IMG</li>
                    <li>Poga BUTTON</li>
                    <button>Spied pogu</button>
                    <li><b>Treknais</b></li>
                </ol>
                </div>
            
                

                <div class="col-xs-5" style="border:1px solid grey; margin:10px">
                <p>
                <a href="https://www.w3schools.com/html/default.asp">W3 Schools</a>  
                <br /> 
                Lorem ipsum dolor sit amet, 
                <br />
                consectetur adipiscing elit. Vestibulum eget sapien in odio pretium suscipit. Vivamus id risus leo. Mauris pulvinar eros in purus volutpat, id feugiat magna condimentum. In euismod ante dui. Nulla non lorem elit. Nullam vel tellus odio. Morbi sed auctor ex.
                </p>

                <p>
                Sed tristique, turpis in tincidunt aliquet, turpis massa congue ex, sagittis efficitur mi nisl id justo. Aliquam egestas felis augue, in aliquet elit malesuada ut. Praesent vel tortor sed mi lacinia imperdiet ac et tellus. Donec rhoncus interdum porttitor. Suspendisse ullamcorper mauris laoreet, consequat arcu eu, pellentesque nisi. Phasellus egestas, lorem eu interdum commodo, metus neque tempor nisl, eget lobortis risus lorem pharetra metus. Vivamus vel nunc mauris. Vestibulum maximus tortor at tristique placerat. Morbi imperdiet erat imperdiet turpis auctor finibus. Mauris malesuada vitae sem sit amet euismod. Suspendisse ut nisi eget nisl ultrices bibendum ut pellentesque lorem. Fusce at blandit nisl. Nullam faucibus metus vel maximus vehicula.
                </p>

                <p>
                Praesent suscipit consectetur augue, id dictum diam. Curabitur rutrum justo eu arcu vehicula finibus. Nunc vehicula aliquet sapien sed aliquet. Nullam mattis dui ante, quis pellentesque quam volutpat a. Fusce fermentum nibh augue, eget convallis augue porta porta. Ut augue quam, pretium sed sapien at, mollis dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis at eros vitae neque aliquet pretium. Praesent in nibh consequat, cursus magna ut, imperdiet risus. In hac habitasse platea dictumst. Ut commodo luctus arcu at dapibus. Nulla ipsum libero, elementum sed massa vitae, facilisis malesuada urna. Phasellus auctor nibh leo, et pellentesque purus suscipit at.
                </p>

                <p>
                Aliquam erat volutpat. Praesent dignissim blandit elementum. Morbi nunc mauris, vulputate congue diam a, rhoncus malesuada tortor. Proin eget semper nibh, sed laoreet purus. Integer est purus, cursus non ex at, rhoncus vulputate lacus. Maecenas gravida, arcu ac tempus ultricies, dui quam convallis nisi, a sagittis orci orci et est. Donec consequat purus sed tellus vestibulum accumsan. Sed sed pharetra leo. Sed risus ipsum, eleifend ut magna sit amet, tincidunt pulvinar metus. Donec vel dignissim nisl, a tristique velit. In a tempor risus.
                </p>

                <p>
                Mauris at erat finibus, commodo magna in, mattis quam. Proin vel dolor faucibus, cursus eros eget, ultrices sem. Integer nunc mi, varius placerat elementum ut, tristique gravida orci. Curabitur at lorem purus. Pellentesque sed blandit metus, in venenatis urna. Aliquam commodo, libero non efficitur mollis, erat justo commodo lorem, nec tristique sem leo iaculis mauris. Sed vitae mattis metus. Duis a faucibus lectus. Praesent ex sapien, facilisis at dictum ac, tempus sit amet neque. Quisque bibendum sit amet nisi vel rutrum. Donec et maximus justo. Sed eu imperdiet risus, sit amet porta tortor. Curabitur sapien ex, molestie ut suscipit vitae, tincidunt id velit. Fusce justo nibh, eleifend non volutpat quis, porttitor at metus. 
                </p>
                </div>



                <div class="col-xs-12" style="border:1px solid grey; margin:10px"></div>
                <table class="table table-striped">
                        <tr style="white-space: nowrap;">
                            <td></td>
                            <td><b>Plānotais laiks</b></td>
                            <td><b>Reālais laiks</b></td>
                            <td><b>Laiks palika pāri vai trūka</b></td>
                        </tr>
                        <tr>
                            <td><b>Projektu izstrādes metodoloģijas</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr style="white-space: nowrap;">
                            <td><b>GIT</b></td>
                            <td style="padding-right: 10px;">27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>VScode</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>27.08.2019<br>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>Plānošanas rīki</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>Pusdienas</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>HTML teorija</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>HTML uzdevumi</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>Refleksija</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                        <tr>
                            <td><b>Lektors no IT jomas</b></td>
                            <td>27.08.2019<br>8:30am-9:30am</td>
                            <td>27.08.2019<br>xx:xxam-xx:xxam</td>
                            <td>Trūka/Palika pāri</td>
                        </tr>
                     </table>
                     <h2>Atsauksme
                     </h2><hr>
                     <!--līnijahr?-->
                     <form action="#">
                     <b>Jūsu vārds: </b> <input type="text"/><br>
                     <b>Jūsu uzvārds: </b> <input type="text"/><br>
                     <b>Patika/Nepatika/Neitrāli: </b> <select name="vertejums">
                            <option value="2">Patika</option>
                            <option value="0">Nepatika</option>
                            <option value="1">Neitrāli</option>
                        </select><br>
                     Piedalījāties visu dienu? <input type="radio" value="`" name="diena"><b>Jā</b> <input type="radio" value="0" name="diena"><b>Nē</b><br>
                     <input type="button" value="Iesniegt">
                     </form>

                    </div>


                    </div><!--class="row"-->

            </div>
        </div>
    
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda xxx</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>